<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Mission to Mars</h1>
    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
  </div>
  {% for data in mars_results %}
  <div class="container" id="comparison">
    <div class="row">
        <div class="col-md-12">
            <h1>Latest Mars News</h1>
            <hr class="my-4">
        </div>            
      </div>
    <div class="row">
      <div class="col-md-12">
        <h3>{{ data.news_title }}</h3>
        <p>{{ data.news_p }}</p>
        <br>
      </div>            
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3>Featured Mars Image</h3>
        <img src= {{ data.featured_image_url }} alt="Featured Mars Images">
      </div>
      <div class="col-md-4">
        <h2>Mars Facts</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Mars</th>
            </tr>
          </thead>
          <tbody>

            <!-- Within the table body, create a new table row (<tr>) for each player in our database. -->
            {% for info in data.mars_tbl_info %}
            <tr>
              <td>{{ info.name }}</td>
              <td>{{ info.value }}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>                    
    </div>
  </div>
  {% endfor %}
 

  
      
    
</body>

</html>